<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org" lang="ru">
<head th:insert="fragments/head :: headFragment">
<title id="pageTitle">Комнаты</title>
</head>
<body>
	<div class="wrapper">

		<header th:insert="fragments/sideNavbar :: navbar (page='')"></header>
		<div th:insert="fragments/mobileMenu :: mobileMenu"></div>

		<div id="main_content">
			<div class="container-fluid">
				<div class="row justify-content-between m-1">
					<a href="/admin/rooms/new" class="btn btn-primary">Создать запись</a>
					<h2>Комнаты</h2>
					<span></span>
				</div>
				<div>
					<table class="table table-striped table-bordered">
						<thead>
							<tr>
								<th scope="col">#</th>
								<th scope="col">Название</th>
								<th scope="col">Изображение</th>
								<th scope="col">Макс. людей</th>
								<th scope="col">Цена</th>
								<th scope="col">Описание</th>
								<th scope="col">#</th>
							</tr>
						</thead>
						<tbody>
							<tr th:if="${rooms.empty}">
								<td colspan="6" class="text-center">Нет доступной информации</td>
							</tr>
							<tr th:each="r : ${rooms}">
								<td>
									<span th:id="${r.id}" th:text="${r.id}"> #id </span>
								</td>
								<td>
									<span th:text="${r.title}"> Title </span>
								</td>
								<td>
									<img th:src="${'/img/rooms/' + r.source + '/1.png'}" class="d-block w-100" alt="roomImage">
								</td>
								<td>
									<span th:text="${r.maxPeople}"> MaxPeople </span>
								</td>
								<td>
									<span th:text="${r.price}"> Price </span>
								</td>
								<td>
									<span th:text="${r.description}"> Description </span>
								</td>
								<td>
									<div>
										<a class="fa fa-pencil custom-btn m-1 mx-2" th:href="@{/admin/rooms/{id}(id=${r.id})}"></a>
										<form action="#" th:action="@{/admin/rooms}" method="post">
											<input type="hidden" th:value="${r.id}" name="id" />
											<button class="delete-btn custom-btn" type="submit" name="delete">
												<span class='fa fa-trash'></span>
											</button>
										</form>
									</div>
								</td>
							</tr>
						</tbody>
					</table>
				</div>
			</div>
		</div>
	</div>

	<script src="https://unpkg.com/ionicons@5.0.0/dist/ionicons.js"></script>
	<script src="/js/script.js"></script>
	<script src="/js/bootstrap.min.js"></script>
</body>
</html>