<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org" lang="ru">

<head th:include="fragments/head :: headFragment">
<title id="pageTitle">Add room</title>
</head>
<body>
	<div class="wrapper">

		<header th:insert="fragments/sideNavbar :: navbar (page='')"></header>
		<div th:insert="fragments/mobileMenu :: mobileMenu"></div>

		<div>
			<h2 class="text-center my-4">Создание комнаты</h2>
			<div class="d-flex justify-content-center m-3">
				<div th:if="${error != null}">
					<div class="p-3 mb-2 bg-warning text-dark">
						<span th:text="${error}"></span>
						<br>
					</div>
				</div>
				<form class="w-50" action="#" th:action="@{/admin/rooms/new}" th:object="${room}" method="post">
					<div class="row my-1">
						<div class="col">
							<label class="col-form-label">id:</label>
						</div>
						<div class="col">
							<input class="form-control" type="text" th:field="*{id}" disabled="disabled" required />
						</div>
					</div>
					<div class="row my-1">
						<div class="col">
							<label class="col-form-label">Title:</label>
						</div>
						<div class="col">
							<input class="form-control" type="text" th:field="*{title}" required />
						</div>
					</div>
					<div class="row my-1">
						<div class="col">
							<label class="col-form-label">Image:</label>
						</div>
						<div class="col">
							<input class="form-control" type="file" th:field="*{image}" required />
						</div>
					</div>
					<div class="row my-1">
						<div class="col">
							<label class="col-form-label">Max people:</label>
						</div>
						<div class="col">
							<input class="form-control" type="text" th:field="*{maxPeople}" required />
						</div>
					</div>
					<div class="row my-1">
						<div class="col">
							<label class="col-form-label">Price:</label>
						</div>
						<div class="col">
							<input class="form-control" type="text" th:field="*{price}" required />
						</div>
					</div>

					<div class="form-group row">
						<input class="btn m-1 btn-success col" type="submit" value="Save" />
						<input class="btn m-1 btn-secondary col" type="reset" value="Reset" />
					</div>
				</form>
			</div>
		</div>
	</div>
</body>
</html>