<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org" lang="ru">
<head th:insert="fragments/head :: headFragment">
<title id="pageTitle">Edit room</title>
</head>
<head>
<script src="/js/slider.js"></script>
<script src="/js/deleteImage.js"></script>
</head>
<body>
	<div class="wrapper">

		<header th:insert="fragments/sideNavbar :: navbar (page='')"></header>
		<div th:insert="fragments/mobileMenu :: mobileMenu"></div>

		<div id="main_content">
			<h2 class="text-center my-4">Изменение комнаты</h2>

			<div th:if="${error != null}">
				<div class="p-3 mb-2 bg-warning text-dark">
					<span th:text="${error}"></span>
					<br>
				</div>
			</div>
			<form action="#" th:action="@{/admin/rooms/{id}(id=${room.id})}" th:object="${room}" method="post">

				<div class="container-fluid">
					<div class="row mx-0">
						<div class="col-lg-6 col-12">
							<div class="container-fluid">
								<div class="row my-1">
									<div class="col-3 col-md-5">
										<label class="col-form-label">id:</label>
									</div>
									<div class="col">
										<input class="form-control" type="text" id="id" th:field="*{id}" disabled="disabled" required />
									</div>
								</div>
								<div class="row my-1">
									<div class="col-4 col-md-5">
										<label class="col-form-label">Title:</label>
									</div>
									<div class="col">
										<input class="form-control" type="text" th:field="*{title}" required />
									</div>
								</div>
								<div class="row my-1">
									<div class="col-4 col-md-5">
										<label class="col-form-label">Source:</label>
									</div>
									<div class="col">
										<input class="form-control" type="text" th:field="*{source}" required />
									</div>
								</div>
								<div class="row my-1">
									<div class="col-5">
										<label class="col-form-label">Max people:</label>
									</div>
									<div class="col">
										<input class="form-control" type="text" th:field="*{maxPeople}" required />
									</div>
								</div>
								<div class="row my-1">
									<div class="col-5">
										<label class="col-form-label">Price:</label>
									</div>
									<div class="col">
										<input class="form-control" type="text" th:field="*{price}" required />
									</div>
								</div>
								<div class="row my-1">
									<div class="col-5">
										<label class="col-form-label">Image count:</label>
									</div>
									<div class="col">
										<input class="form-control" type="text" th:field="*{imageCount}" disabled />
									</div>
								</div>
								<div class="row my-1">
									<div class="col-5">
										<label class="col-form-label">Panorama URL ID:</label>
									</div>
									<div class="col">
										<input class="form-control" type="text" th:field="*{panoramaUrlId}" required />
									</div>
								</div>
								<div class="row my-1">
									<div class="col-5">
										<label class="col-form-label">Description:</label>
									</div>
									<div class="col">
										<textarea class="form-control" rows="5" th:text="*{description}" required>
										</textarea>
									</div>
								</div>
							</div>
						</div>

						<div class="col-lg-6 col-12 px-5 px-lg-0">
							<div class="container-fluid">
								<div class="row my-2">
									<label for="images" class="drop-container w-100">
										<span class="drop-title">Drop files here</span>
										or
										<input type="file" id="inputImages" enctype="multipart/form-data" multiple>
										<button id="uploadImages" type="button">Upload</button>
									</label>
								</div>
								<th:block th:if="*{imageCount} > 0">
									<div class="row my-1 justify-content-center">
										<div class="col-12 overflow-hidden p-0">

											<div class="slider-admin">
												<div class="slider__wrapper">
													<div class="slider__item" th:each="i : ${images}">
														<button class="delete-btn trash-button" th:attr="onclick=|deleteButtons('${i}')|" type="button">
															<span class='fa fa-trash'></span>
														</button>
														<img th:src="${'/img/rooms/' + room.source + '/' + i}" class="d-block w-100" alt="roomImage">
													</div>
												</div>
												<th:block th:if="*{imageCount} > 1">
													<a class="slider__control slider__control_left" href="#" role="button"></a>
													<a class="slider__control slider__control_right slider__control_show" href="#" role="button"></a>
												</th:block>
											</div>

											<script type="text/javascript">
												multiItemSlider('.slider-admin');
											</script>
										</div>
									</div>
								</th:block>
								<th:block th:if="*{imageCount} == 0">
									<h4>Для номера не присвоено ни одной фотографии</h4>
								</th:block>
								<div class="form-group row">
									<input class="btn m-1 btn-success col" type="submit" value="Save" />
									<input class="btn m-1 btn-secondary col" type="reset" value="Reset" />
								</div>
							</div>
						</div>
					</div>
				</div>


			</form>
		</div>
	</div>
</body>

<script src="/js/sendImageToServer.js"></script>
<script type="module" src="https://unpkg.com/ionicons@5.0.0/dist/ionicons/ionicons.esm.js"></script>
</html>