<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org" lang="ru">

<head th:include="fragments/head :: headFragment">
<title id="pageTitle">Book history</title>
</head>
<body>
	<div class="wrapper">

		<header th:insert="fragments/sideNavbar :: navbar (page='')"></header>
		<div th:insert="fragments/mobileMenu :: mobileMenu"></div>

		<div id="main_content">
			<div class="container-fluid">
				<div class="row justify-content-center">
					<h2>История бронирования</h2>
				</div>
				<div>
					<table class="table table-bordered">
						<thead>
							<tr>
								<th scope="col">#</th>
								<th scope="col">Кол-во людей</th>
								<th scope="col">Аккаунт</th>
								<th scope="col">Заселение</th>
								<th scope="col">Выселение</th>
								<th scope="col">Стоимость</th>
								<th scope="col">#</th>
							</tr>
						</thead>
						<tbody>
							<tr th:if="${reservations.empty}">
								<td colspan="6" class="text-center">Нет доступной информации</td>
							</tr>
							<th:block th:each="r : ${reservations}">
								<tr class="reservationRow">
									<td>
										<span th:text="${r.id}"> #id </span>
									</td>
									<td>
										<span th:text="${'Взрослые: ' + r.adultCount + '; дети: ' + r.childCount}"> Count </span>
									</td>
									<td>
										<a th:href="@{/account/{id}(id=${r.user.id})}" th:text="${r.user.name + ' ' + r.user.surname}"> User </a>
									</td>
									<td>
										<span th:text="${r.settling}"> Settling </span>
									</td>
									<td>
										<span th:text="${r.eviction}"> Eviction </span>
									</td>
									<td>
										<span th:text="${r.totalPrice}">Price </span>
									</td>
									<td>
										<div>
											<a class="fa fa-pencil custom-btn m-1 mx-2" th:href="@{/admin/book/{id}(id=${r.id})}"></a>
											<form action="#" th:action="@{/admin/book}" method="post">
												<input type="hidden" th:value="${r.id}" name="id" />
												<button class="delete-btn custom-btn" type="submit" name="delete">
													<span class='fa fa-trash'></span>
												</button>
											</form>
										</div>
									</td>
								</tr>
								<tr th:each="room : ${r.rooms}" class="roomsRow">
									<td></td>
									<td>
										<span th:text="${'Id типа комнаты: ' + room.type.id}"></span>
									</td>
									<td>
										<span th:text="${room.type.title}"></span>
									</td>
									<td colspan="2">
										<span th:text="${'Цена за комнату: ' + r.dateDiff * room.type.price}"></span>
									</td>
									<td>
										<div>
											<form action="#" th:action="@{/admin/book/room}" method="post">
												<input type="hidden" th:value="${r.id}" name="reservationId" />
												<input type="hidden" th:value="${room.id}" name="roomId" />
												<button class="delete-btn custom-btn" type="submit" name="delete">
													<span class='fa fa-trash'></span>
												</button>
											</form>
										</div>
									</td>
									<td></td>
								</tr>
							</th:block>
						</tbody>
					</table>
				</div>
			</div>
		</div>
	</div>

	<script src="https://unpkg.com/ionicons@5.0.0/dist/ionicons.js"></script>
	<script src="/js/script.js"></script>
	<script src="/js/bootstrap.min.js"></script>
</body>
</html>