<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org" lang="ru">

<head th:include="fragments/head :: headFragment">
<title id="pageTitle">Личный кабинет</title>
</head>
<body>
	<div class="wrapper">
		<main class="content course">

			<header th:insert="fragments/sideNavbar :: navbar (page='home')"></header>
			<div th:insert="fragments/mobileMenu :: mobileMenu"></div>

			<div id="main_content"></div>

		</main>
	</div>

	<script src="https://unpkg.com/ionicons@5.0.0/dist/ionicons.js"></script>
	<script src="js/script.js"></script>
	<script src="js/bootstrap.min.js"></script>
</body>
</html>