<!DOCTYPE html>
<html lang="ru" xmlns:th="http://www.w3.org/1999/xhtml">
<head th:include="fragments/head :: headFragment">
<title id="pageTitle">Change password</title>
<style>
.row {
	margin: 0 0;
}
</style>
</head>
<body>
	<div class="wrapper">
		<main class="content course">

			<header th:insert="fragments/sideNavbar :: navbar (page='book')"></header>
			<div th:insert="fragments/mobileMenu :: mobileMenu"></div>

			<div id="main_content">
				<div class="bg-image-container">
					<div class="booking-window container">
						<div class="form">
							<form id="mainForm" name="loginForm" action="#" th:action="@{/password/change}" method="POST">
								<div id="loginForm" class="mx-4 my-2">
									<div class="title">
										<h1 class="header-text">
											<img src="../img/star.png" alt="star" style="margin: 10px; vertical-align: top;">
											Key And Door Hotel
											<img src="../img/star.png" alt="star" style="margin: 10px; vertical-align: top;">
										</h1>
									</div>
									<div class="row bg-warning" th:if="${param.error}">
										<span th:text="${param.error[0]}"></span>
									</div>
									<div class="row my-2 justify-content-center">
										<div class="manage-div mx-1">
											<p>Старый пароль</p>
											<input type="password" class="w-100" id="oldpassword" name="oldpassword" required="required" />
										</div>
										<div class="manage-div mx-1">
											<p>Новый пароль:</p>
											<input type="password" class="w-100" id="password" name="password" required="required" />
										</div>
										<div class="manage-div mx-1">
											<p>Новый пароль еще раз:</p>
											<input type="password" class="w-100" id="passConfirm" name="passConfirm" required="required" />
										</div>
										<div class="d-none">
											<input type="text" id="token" name="token" th:value="${param.token[0]}" />
										</div>
									</div>
									<div class="loginButtonDiv">
										<input type="submit" value="Войти" id="stage1">
									</div>
								</div>
							</form>
						</div>
					</div>
				</div>
			</div>
		</main>
	</div>



	<script src="../js/bootstrap.min.js"></script>
	<script src="../js/script.js"></script>
	<script src="../js/booking.js"></script>
</body>
</html>