<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org" lang="en">
<head th:include="fragments/head :: headFragment">
<title id="pageTitle">Key'n'Door Hotel - Комната</title>
</head>
<body>
	<div class="wrapper">
		<main class="content course">

			<header th:insert="fragments/sideNavbar :: navbar (page='rooms')"></header>
			<div th:insert="fragments/mobileMenu :: mobileMenu"></div>

			<div id="main_content">
				<div class="title">
					<h2 th:text="${room.title}"></h2>
				</div>

				<div class="main_frame">
					<p class="text-center" th:text="${room.description}"></p>
					<br>
					<iframe width="100%" height="640" allowfullscreen th:src="${'https://momento360.com/e/uc/' + room.panoramaUrlId + '?pan-speed=-0.05'}"></iframe>
				</div>
				<div th:insert="fragments/footer :: footer"></div>
			</div>

		</main>
	</div>

	<script src="../js/script.js"></script>
	<script src="../js/bootstrap.min.js"></script>
</body>
</html>