<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org" lang="ru">

<head th:include="fragments/head :: headFragment">
<title id="pageTitle">Key'n'Door Hotel - Главная страница</title>
</head>
<body>
	<div class="wrapper">
		<main class="content course">

			<header th:insert="fragments/sideNavbar :: navbar (page='home')"></header>
			<div th:insert="fragments/mobileMenu :: mobileMenu"></div>

			<div id="main_content">
				<div class="container-bg">
					<div class="slide-bg justify-content-center align-items-center">
						<div class="text">
							<h1>Key and Door Hotel</h1>
						</div>
					</div>
				</div>

				<div class="about_hotel">
					<div id="container-fluid">
						<table>
							<tr>
								<td class="side-border-bottom"></td>
								<td id="middle-border">
									<div class="container-border">
										<div class="border-wrapper"></div>
										<div class="container text-about">
											<p>
												Добро пожаловать в нашу гостиницу, идеальное место для вашего комфортного пребывания в центре города. Мы гордимся предоставлением высококлассного размещения и
												незабываемого опыта для наших гостей. Наше расположение близко ко всему — деловому центру, достопримечательностям и торговым центрам, что позволяет вам максимально
												насладиться вашим пребыванием без лишних переездов.
												<br>
												<br>
												Наши номера оформлены с большим вниманием к деталям, чтобы обеспечить вам комфорт и уют. У нас вы найдете все необходимое для приятного отдыха, включая современные
												удобства и приветливый персонал, готовый помочь вам в любое время. Посетите нас и насладитесь беззаботным и роскошным пребыванием в нашей гостинице.
											</p>
										</div>
									</div>
								</td>
								<td class="side-border-bottom"></td>

							</tr>
						</table>
					</div>
					<div class="three_pictures container-fluid">
						<div class="image-container">
							<div class="block-pictures">
								<img src="/img/bedroom.png" alt="bedroom">
							</div>
							<div class="block-pictures block-pictures-middle">
								<img src="/img/breakfast.jpg" alt="breakfast">
							</div>
							<div class="block-pictures">
								<img src="/img/holl.jpg" alt="holl">
							</div>
						</div>
					</div>
					<div id="container-fluid">
						<table>
							<tr>
								<td class="side-border-vertical"></td>
								<td id="middle-border">
									<div class="container-border">
										<div class="border-wrapper"></div>
										<div class="container text-about">
											<p>
												Комнаты выполнены в классическом для Скандинавских стран строгом стиле.
												<br>
												<br>
												Начните утро с аппетитного завтрака, который вы заказали вчера вечером. В меню вы сможете найти яичницу с беконом, блины с вареньем, овсяную кашу, овощи и фрукты.
											</p>
										</div>
									</div>
								</td>
								<td class="side-border-vertical"></td>
							</tr>
						</table>
					</div>
					<div class="container-fluid">
						<div class="important-information">
							<div class="h1-title">
								<h1>Полезная информация для посетителей</h1>
							</div>
							<div class="container-inform">
								<div class="row">
									<div class="breakfast three_blocks col-lg-3 col-md-6 col-12">
										<h3>Завтрак</h3>
										<p>
											Завтрак включен в цену каждого номера.
											<br>
											Подается:
										</p>
										<ul>
											<li>Понедельник - Пятница: 7:30 - 10:00</li>
											<li>Суббота - Воскресенье: 8:00 - 11:00</li>
										</ul>
									</div>
									<div class="chek-in three_blocks col-lg-3 col-md-6 col-12">
										<h3>Заселение/Выселение</h3>
										<p>
											Заселение начинается каждый день в 15:00.
											<br>
											*При себе обязательно иметь паспорт*
											<br>
											*Заселение с животными запрещено*
										</p>
										<p>Выселение не позднее 12:00</p>
									</div>
									<div class="parking three_blocks col-lg-3 col-md-6 col-12">
										<h3>Парковка</h3>
										<p>У нас имеется 13 парковочных мест, которые вы можете арендовать за 2.200 руб. в день.</p>
									</div>
									<div class="security three_blocks col-lg-3 col-md-6 col-12">
										<h3>Безопасность</h3>
										<p>Ваша безопасность очень важна для нас, поэтому в каждом номере мы установили датчики дыма а также кнопку тревоги</p>
									</div>
								</div>
							</div>
						</div>
					</div>

				</div>
				<div th:insert="fragments/footer :: footer"></div>
			</div>

		</main>
	</div>

	<script src="https://unpkg.com/ionicons@5.0.0/dist/ionicons.js"></script>
	<script src="js/script.js"></script>
	<script src="js/bootstrap.min.js"></script>
</body>
</html>