<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org" lang="ru">
<head th:include="fragments/head :: headFragment">
<title id="pageTitle">Расположение</title>
<style>
.row {
	margin-bottom: 25px;
}
</style>
</head>
<body>
	<script id="yandexMap" src="https://api-maps.yandex.ru/2.1/?lang=ru_RU&amp;apikey=056f5243-0d5c-4996-a7be-0d2ffd462989" type="text/javascript"></script>
	<div class="wrapper">
		<main class="content">

			<header th:insert="fragments/sideNavbar :: navbar (page='location')"></header>
			<div th:insert="fragments/mobileMenu :: mobileMenu"></div>

			<div id="main_content">
				<div class="container-fluid">
					<div class="title">
						<h1>Норрмальм</h1>
					</div>
					<div class="googlemaps">
						<div style="position: relative;">
							<div class="sidemenumap">
								<p>
									Район
									<a id="norm" href="https://en.wikipedia.org/wiki/Norrmalm">
										<u>Норрмальм</u>
									</a>
									в Стокгольме – это географический и деловой центр шведской столицы. Он является отличным местом для прогулок по паркам, магазинам и знакомства с лучшими историческими и
									современными достопримечательностями города. Этот квартал поражает своей невероятной архитектурой, сочетающей в себе черты прообразов старинных построек и высоких
									небоскребов. Последняя его значимая перестройка проводилась после Второй мировой войны, именно тогда на волне стремления к модернизации были снесены многие старые здания и
									возведены новые, более современные сооружения.
								</p>
							</div>
							<div id="map"></div>

						</div>
					</div>
					<div class="title">
						<h1>Самые красивые места Стокгольма</h1>
					</div>
					<div class="stocholm">
						<div class="row align-items-center">
							<div class="col-12 col-lg-6 ">
								<div class="title">
									<h3>Старый город</h3>
								</div>
								<p>
									Старый город, до 1980 года официально назывался
									<b>Город между мостами</b>
									- исторический центр Стокгольма, находящийся на острове Стадсхолмен. Эта часть города построена в XIII в., поэтому здесь много узких мощёных улочек и переулков, а так же
									старой архитектуры.
								</p>
							</div>
							<div class="col-12 col-lg-6">
								<img src="../img/old-town.jpg" class="slider__item" alt="old-town">
							</div>
						</div>
						<div class="row align-items-center">
							<div class="col-12 col-lg-6 order-lg-1 order-12">
								<img src="../img/Klara-Church.jpg" class="slider__item" alt="Klara-Church">
							</div>
							<div class="col-12 col-lg-6 order-lg-12 order-1">

								<div class="title">
									<h3>Церковь Святой Клары</h3>
								</div>
								<p>Церковь была разрушена, отстроена вновь, пережила серьезный пожар и реконструкцию города. Сейчас она окружена современными зданиями. Поистине уголок истории в
									современном городе</p>
							</div>
						</div>
						<div class="row align-items-center">
							<div class="col-12 col-lg-6 ">
								<div class="title">
									<h3>Скиннарвиксбергет</h3>
								</div>
								<p>Самая высокая природная точка в центре Стокгольма - любимое место местных жителей и отличное место для пикников. От сюда открывается прекрасный вид на Стокгольмскую
									ратушу, Старый Город и другие достопримечательности.</p>
							</div>
							<div class="col-12 col-lg-6">
								<img src="../img/skin.jpg" class="slider__item" alt="skin">
							</div>
						</div>
					</div>
				</div>
				<div th:insert="fragments/footer :: footer"></div>
			</div>
		</main>
	</div>



	<script>
		ymaps.ready(function() {
			var myMap = new ymaps.Map('map', {
				center : [ 59.337315, 18.049843 ],
				zoom : 15,
				controls : [ 'fullscreenControl' ]
			}, {
				searchControlProvider : 'yandex#search'
			});
			myMap.geoObjects.add(new ymaps.Placemark([ 59.337655, 18.051646 ],
					{
						iconImageSize : [ 30, 42 ],
						iconImageOffset : [ -5, -38 ]
					}))
		});
	</script>
	<script src="https://unpkg.com/ionicons@5.0.0/dist/ionicons.js"></script>
	<script src="../js/bootstrap.min.js"></script>
	<script src="../js/script.js"></script>
</body>
</html>