<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org" lang="ru">
<head th:include="fragments/head :: headFragment">
<title id="pageTitle">Комнаты</title>
</head>
<body>
	<script src="../js/slider.js"></script>
	<div class="wrapper">
		<main class="content course">

			<header th:insert="fragments/sideNavbar :: navbar (page='rooms')"></header>
			<div th:insert="fragments/mobileMenu :: mobileMenu"></div>

			<div id="main_content">
				<div class="slide-bg-2"></div>
				<div class="container-fluid">
					<div class="row">
						<div class="aboutHotelText col-12">
							<div class="container">
								<p>В нашей гостинице вы найдете шесть уникальных номеров, каждый из которых олицетворяет комфорт и роскошь. Наша коллекция номеров предлагает различные варианты для
									удовлетворения любых потребностей, от современных и стильных номеров до традиционных и уютных номеров с видом на живописный пейзаж. Каждый номер представляет собой
									уникальный опыт, который оставит незабываемые впечатления у каждого гостя. Мы приглашаем вас насладиться нашими прекрасными номерами и провести незабываемый отдых в нашей
									гостинице.</p>
							</div>
						</div>
					</div>

					<th:block th:each="r, iStat : ${rooms}">
						<th:block th:if="${iStat.index} % 2 == 0">
							<div th:insert="fragments/roomBlocks :: rightSideImage(${r})"></div>
						</th:block>

						<th:block th:if="${iStat.index} % 2 == 1">
							<div th:insert="fragments/roomBlocks :: leftSideImage(${r})"></div>
						</th:block>
					</th:block>

				</div>
				<div th:insert="fragments/footer :: footer"></div>
			</div>


		</main>
	</div>

	<script src="/js/script.js"></script>
	<script src="/js/bootstrap.min.js"></script>
</body>
</html>