<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org" lang="ru">
<head th:include="fragments/head :: headFragment">
<title id="pageTitle">Услуги</title>
</head>
<body>
	<div class="wrapper">
		<main class="content course">

			<header th:insert="fragments/sideNavbar :: navbar (page='services')"></header>
			<div th:insert="fragments/mobileMenu :: mobileMenu"></div>

			<div id="main_content" class="servMain">
				<div class="container-fliud">
					<div class="title d-flex justify-content-center">
						<h1>Подробнее</h1>
					</div>
					<div class="underTitle d-flex justify-content-center">
						<p>Здесь представлен список доступных услуг. Обратите внимание, что некоторые услуги необходимо заказывать отдельно и за них взимается дополнительная плата.</p>
					</div>
					<div class="mainServices">
						<div class="row" style="margin: 0 15px;">
							<div class="col-12 col-md-6 col-lg-4 borderBrown">
								<table class="servicesTable">
									<tr>
										<td>
											<div>
												<img class="pngIcon" src="../img/png/24-hour-signal.png" alt="reception">
											</div>
										</td>
										<td>
											<div>
												<span>Работа ресепшена 24 часа в сутки. Вы можете позвонить в любое время и заказать чай/кофе в номер либо попросить вызвать спец службы.</span>
											</div>
										</td>
									</tr>
									<tr>
										<td>
											<div>
												<img class="pngIcon" src="../img/png/atlas-book.png" alt="atlas-book">
											</div>
										</td>
										<td>
											<div>
												<span>У нас имеется специальная книга, в которой рассказывается о достопримечательностях, общественном транспорте, ресторанах и кафе со вкусной едой.</span>
											</div>
										</td>
									</tr>
									<tr>
										<td>
											<div>
												<img class="pngIcon" src="../img/png/hotel-cleaning.png" alt="hotel-cleaning">
											</div>
										</td>
										<td>
											<div>
												<span>Каждые день происходит уборка номера. Когда вы покидаете комнату, свободные уборщицы идут наводить порядок.</span>
											</div>
										</td>
									</tr>
									<tr>
										<td>
											<div>
												<img class="pngIcon" src="../img/png/door-hang-sign.png" alt="door-hang-sign">
											</div>
										</td>
										<td>
											<div>
												<span>У нас есть набор дверных указателей, позволяющих нам понять, что вам требуется. Красный - не беспокоить. Желтый - требуется уборка. Зеленый - </span>
											</div>
										</td>
									</tr>
									<tr>
										<td>
											<div>
												<img class="pngIcon" src="../img/png/hotel-building.png" alt="hotel-building">
											</div>
										</td>
										<td>
											<div>
												<span>Отель предоставляет транспортное средсство в случае, если вас необходимо избрать или отвезти в аэропорт.</span>
											</div>
										</td>
									</tr>
									<tr>
										<td>
											<div>
												<img class="pngIcon" src="../img/png/travel-luggage.png" alt="travel-luggage">
											</div>
										</td>
										<td>
											<div>
												<span>Если вы приехали раньше времени заселения, вы можете оставить свои вещи в отеле и пройти прогулять по городу или в столовую.</span>
											</div>
										</td>
									</tr>
								</table>
							</div>
							<div class="col-12 col-md-6 col-lg-4">
								<table class="servicesTable">
									<tr>
										<td>
											<img class="pngIcon" src="../img/png/car-parking.png" alt="car-parking">
										</td>
										<td>
											<div>
												<span>У нас имеется 13 платных парковочных мест, рассположенных во внутреннем дворе, так что вы можете не переживать за безопасность автомобиля.</span>
											</div>
										</td>
									</tr>
									<tr>
										<td>
											<img class="pngIcon" src="../img/png/gift-box.png" alt="gift-box">
										</td>
										<td>
											<div>
												<span>При бронировании номера вы можете заказать "Приветственный набор", который включает в себя сок, шапманское и сладости.</span>
											</div>
										</td>
									</tr>
									<tr>
										<td>
											<img class="pngIcon" src="../img/png/security-safe-box.png" alt="security-safe-box">
										</td>
										<td>
											<div>
												<span>Если вы переживаете за свои драгоценности, когда покидаете отель, можете арендовать место в сейфе.</span>
											</div>
										</td>
									</tr>
									<tr>
										<td>
											<img class="pngIcon" src="../img/png/hanger-with-towel.png" alt="hanger-with-towel">
										</td>
										<td>
											<div>
												<span>Вы можете заказать стирку своих грязных вещей. Для этого достаточно прикрепить бирку к изделию и положить его в общую корзину.</span>
											</div>
										</td>
									</tr>
									<tr>
										<td>
											<img class="pngIcon" src="../img/png/clock.png" alt="clock">
										</td>
										<td>
											<div>
												<span>В ситуации, когда вам неудобно выселяться в 12:00, вы можете на стадии бронирования номера попросить отложить выселение не более, чем на 6 часов.</span>
											</div>
										</td>
									</tr>
									<tr>
										<td>
											<img class="pngIcon" src="../img/png/plastic-cards.png" alt="plastic-cards">
										</td>
										<td>
											<div>
												<span>При бронировании номера вам необходимо внести предоплату в размере 40% от стоимости выбранного номера.</span>
											</div>
										</td>
									</tr>
								</table>
							</div>
							<div class="col-12 col-lg-4 borderBrown mt-md-2 mt-lg-0">
								<table class="servicesTable">
									<tr>
										<td>
											<div>
												<img class="pngIcon" src="../img/png/cctv.png" alt="cctv">
											</div>
										</td>
										<td>
											<div>
												<span>У нас круглосуточно ведется видеонаблюдение на всей территории отеля. Вы можете не беспокоиться за свою безопасность.</span>
											</div>
										</td>
									</tr>
									<tr>
										<td>
											<div>
												<img class="pngIcon" src="../img/png/computer-screen-tool.png" alt="computer-screen-tool">
											</div>
										</td>
										<td>
											<div>
												<span>В каждом номере отеля находится новый плоский телевизор с большим количеством каналов. Все телевизоры обладают функцией Smart TV.</span>
											</div>
										</td>
									</tr>
									<tr>
										<td>
											<div>
												<img class="pngIcon" src="../img/png/electric-iron.png" alt="electric-iron">
											</div>
										</td>
										<td>
											<div>
												<span>В шкафу каждой комнаты находится гладильная доска с утюгом, чтобы вы в любой момент могли погладить ваши вещи.</span>
											</div>
										</td>
									</tr>
									<tr>
										<td>
											<div>
												<img class="pngIcon" src="../img/png/hotel-bell.png" alt="hotel-bell">
											</div>
										</td>
										<td>
											<div>
												<span>В стоимость каждого номера включен завтрак. Наша столовая каждый день будет радовать вас свежеприготовленной едой.</span>
											</div>
										</td>
									</tr>
									<tr>
										<td>
											<div>
												<img class="pngIcon" src="../img/png/laptop-computer.png" alt="laptop-computer">
											</div>
										</td>
										<td>
											<div>
												<span>Не беспокойтесь, если у вас нет необходимого разъема. На ресепшене вы можете попросить дать вам переходник для любого типа розеток.</span>
											</div>
										</td>
									</tr>
									<tr>
										<td>
											<div>
												<img class="pngIcon" src="../img/png/speedometer.png" alt="speedometer">
											</div>
										</td>
										<td>
											<div>
												<span>На всей территории отеля действует Wi-Fi подлючение скоростью до 150 Мб/с. Вы всегда будете на связи.</span>
											</div>
										</td>
									</tr>
								</table>
							</div>
						</div>
					</div>
				</div>
				<div th:insert="fragments/footer :: footer"></div>
			</div>
		</main>
	</div>


	<script src="https://unpkg.com/ionicons@5.0.0/dist/ionicons.js"></script>
	<script src="../js/script.js"></script>
	<script src="../js/bootstrap.min.js"></script>
</body>
</html>